appdirs==1.4.4
arrow==0.17.0
asgiref==3.2.10
astroid==2.4.2
binaryornot==0.4.4
briefcase==0.3.3
cairocffi==1.2.0
CairoSVG==2.5.0
cdata-apis-connector==19.0.7445
cdata-odata-connector==19.0.7416
cdata-quickbooks-connector==19.0.7416
cdata-sharepoint-connector==19.0.7416
cdata-snowflake-connector==19.0.7416
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cookiecutter==1.7.2
cssselect==1.1.0
cssselect2==0.4.1
defusedxml==0.6.0
distlib==0.3.1
Django==3.1
django-admin-autocomplete-filter==0.6.1
django-autocomplete-light==3.5.1
django-crispy-forms==1.9.2
django-grappelli==2.14.2
django-jet==1.0.8
django-nine==0.2.3
docutils==0.16
filelock==3.0.12
gitdb==4.0.5
GitPython==3.1.9
html5lib==1.1
idna==2.10
importlib-metadata==1.7.0
isort==5.4.2
Jinja2==2.11.2
jinja2-time==0.2.0
Kivy==1.11.1
kivy-deps.angle==0.1.10
kivy-deps.glew==0.1.12
kivy-deps.gstreamer==0.3.1
kivy-deps.sdl2==0.1.23
Kivy-examples==1.11.1
Kivy-Garden==0.1.4
lazy-object-proxy==1.4.3
lxml==4.6.1
MarkupSafe==1.1.1
mccabe==0.6.1
mysql-connector-python==8.0.21
Pillow==7.2.0
poyo==0.5.0
pycairo==1.20.0
pycparser==2.20
Pygments==2.7.1
pylint==2.6.0
Pyphen==0.10.0
pypiwin32==223
python-dateutil==2.8.1
python-slugify==4.0.1
pythonnet==2.5.1
pytz==2020.1
pywin32==228
requests==2.24.0
six==1.15.0
smmap==3.0.4
sqlparse==0.3.1
text-unidecode==1.3
tinycss==0.3
tinycss2==1.1.0
toga-core==0.3.0.dev25
toga-winforms==0.3.0.dev25
toml==0.10.1
travertino==0.1.3
typed-ast==1.4.1
urllib3==1.25.10
virtualenv==20.0.31
WeasyPrint==52.1
webencodings==0.5.1
wrapt==1.12.1
zipp==3.2.0
