
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ELLY CERAMICS</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'site/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'site/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link type="text/css" href="{% static 'site/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'site/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'site/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'site/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'site/assets/vendor/line-awesome/css/line-awesome.min.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'site/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'site/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'site/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Serenity - v2.1.0
  * Template URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="{% url 'index'%}">ELLY CERAMICS</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{%url 'index'%}">Home</a></li>
          <li><a href="#">About</a></li>                     
          <li><a href="{%url 'bcv'%}">Bathroom</a></li>
          <li><a href="{% url 'services' %}">Services</a></li>
          <li><a href="{% url 'catalogue'%}">Catalogue</a></li>
          <li><a href="{% url 'pcv' %}">Plumbing</a></li>
          <li><a href="{% url 'tcv'%}">Tiles</a></li>
          <li class="get-started"><a href="{% url 'admin:login'%}">Admin</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">
      <h1>Welcome to ELLY CERAMICS</h1>
      <h2>We are team of talented designers making your life comfortable</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-end">
          <div class="col-lg-11">
            <div class="row justify-content-end">

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="icofont-simple-smile"></i>
                  <span data-toggle="counter-up">{{ Plumbers}}</span>
                  <p><a href="{% url 'services' %}">Company Plumbers</a></p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="icofont-document-folder"></i>
                  <span data-toggle="counter-up">{{Tilers}}</span>
                  <p><a href="{% url 'services' %}">Company Tilers</a></p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="icofont-clock-time"></i>
                  <span data-toggle="counter-up">7</span>
                  <p><a href="#">Years of experience</a></p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="icofont-award"></i>
                  <span data-toggle="counter-up">{{ stock_no }}</span>
                  <p><a href="{% url 'catalogue'%}">Items in stock</a></p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline">
            <img src="{% static 'site/assets/img/about.jpg' %}" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3>BRIEF INTRODUCTION ABOUT THE ENTERPRISE</h3>
            <p class="font-italic">
              Elly Ceramics is a company that deals in :
    
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> <a href="{% url 'tcv'%}">Tiles (spain,Uganda,China).</a></li>
              <li><i class="bx bx-check-double"></i><a href="{% url 'bcv'%}">Bathroom accessories.</a></li>
              <li><i class="bx bx-check-double"></i> <a href="{% url 'services'%}"> Pipes and pipe installations.</a></li>
              <li><i class="bx bx-check-double"></i> <a href="{% url 'pcv'%}"> Plumbing materials.</a></li>
            </ul>
            <p>
              We are located in Masaka at Buddu street.
              Its to our honour that you receive a comfortable zone thats why bring to you the best tiles,services,plumbing materials at very pocket friendly prices.Please we are so delighted for the time taken to visit the site.W e are sure u will be convinced
              
            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="fade-in">

        <div class="text-center">
          <h3>Services needed ???</h3>
          <p> If in need of services,whether tiling,plumbing services, Please click on the link below for redirection .</p>
          <a class="cta-btn" href="#">Services</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services  section-bg ">
      <div class="container">

        <div class="section-title pt-5" data-aos="fade-up">
          <h2>Our Services</h2>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="las la-tachometer-alt" style="color: #41cf2e;"></i></div>
              <h4 class="title"><a href="{% url 'service'%}">Plumbers Connect</a></h4>
              <p class="description">We are there to supply you with the best plumbing materials at pocket friendly prices and also experienced plumbers for the installations</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="las la-book" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="{% url 't_service' %}">Tilers Connect</a></h4>
              <p class="description">Check out our product catalogue for the best tile designs at affordable prices plus experienced tilers for an excellent job.</p>
            </div>
          </div>

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="las la-clock" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Pipe work services</a></h4>
              <p class="description">For any pipe work installations or fittings ,we believe we will serve you right . Please visit our product catalogue for more info </p>
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="las la-globe-americas" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Transport</a></h4>
              <p class="description">We offer transport for bulky products at affordable prices.Visit the services page for more info</p>
            </div>
          </div>

          
          
        </div>

      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>ELLY CERAMICS</h3>
            <p>Its to our honour that you receive a comfortable zone thats why bring to you the best tiles,services,plumbing materials at very pocket friendly prices.Please we are so delighted for the time taken to visit the site.W e are sure u will be convinced</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Buddu Street <i class="icofont-star"></i><br>
              Masaka,  535022<br>
              Uganda <br>
              <strong>Phone:</strong> +256 758989094<br>
              <strong>Email:</strong> Kizzaelias@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="icofont-star"></i></a>
              <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
              <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
              <a href="#" class="google-plus"><i class="icofont-skype"></i></a>
              <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>If you are interested in receiving notifications of the best designs,please take your valuable time to subscribe to our newsletter</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>ELLY CERAMICS</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/serenity-bootstrap-corporate-template/ -->
        Designed by <a href="#">Nassim</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'site/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'site/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'site/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'site/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'site/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'site/assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'site/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'site/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'site/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'site/assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'site/assets/js/main.js' %}"></script>

</body>

</html>