<html>
<body>
  <center><h1><u>ELLY CERAMICS</u></h1></center>
  <center><h2>Masaka City,Buddu Street</h2></center>
  <center><h2>Plot No.294</h2></center>
  <center><h3> Tel. 0758989094 , Tel. 0707437906 </h3></center>
  <p>
    Invoice no. {{ receipt.id }}</br>
    Status : Paid </br>
  
    <span class="secondary">
      {{ receipt.Date_sold|date:"M d, Y" }}
    </span>
  </p>

  <h3>Bill to</h3>
  <p>
  <ul>
    <li>{{ receipt.Name }}
     <li>{{ receipt.Email }}
     <li>{{ receipt.Phone_number }}
   </ul>
  </p>

  
  
  <center><h1>Items bought</h1></center>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        
        <th>Total Cost</th>
      </tr>
    </thead>
    <tbody>
      {% for item in receipt.items.all %}
        <tr class="row{% cycle "1" "2" %}">
          <td>{{ item.Item }}</td>
          <td class="num">{{ item.Quantity }} </td>
          <td class="num">x shs.{{ item.Selling_price  }}</td>
          <td class="num">shs.{{ item.Overall_item_price }}</td>
        </tr>
      {% endfor %}
      <tr class="total">
        <td colspan="3">Total</td>
        <td class="num">shs.{{ receipt.Overall_price }}</td>
      </tr>
    </tbody>
  </table>
  
  <div style = "position: relative ; top:260px;">

    <center><h4><i><p> "Thank you for trusting ELLY CERAMICS. We look forward to doing business with you again dear {{ receipt.Name }}". </p></center></h4></i>
    </div>
</body>
</html>