<html>
<body>
  <center><h1><u>ELLY CERAMICS</u></h1></center>
  <p>
    Invoice no. {{ receipt.id }}</br>
    Status : Paid </br>
  
    <span class="secondary">
      {{ receipt.Date_sold|date:"M d, Y" }}
    </span>
  </p>

  <h3>Bill to</h3>
  <p>
  <ul>
    <li><h3><u>{{ receipt.Name }}</u></h3>
     <li>{{ receipt.Email }}
     <li>{{ receipt.Phone_number }}
   </ul>
  </p>

  
  <div class="tab">
  <center><h1>Items bought</h1></center>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        
        <th>Total Cost</th>
      </tr>
    </thead>
    <tbody>
      {% for item in receipt.items.all %}
        <tr class="row{% cycle "1" "2" %}">
          <td>{{ item.Item }}</td>
          <td class="num">{{ item.Quantity }} </td>
          <td class="num">x shs.{{ item.Selling_price }}</td>
          <td class="num">shs.{{ item.Overall_item_price }}</td>
        </tr>
      {% endfor %}
      <tr class="total">
        <td colspan="3">Total</td>
        <td class="num">shs.{{ receipt.Overall_price }}</td>
      </tr>
    </tbody>
  </table>
  </div>
    <div class="mode">
  
  </div>
</body>
</html>